<?xml version="1.0" encoding="utf-8"?>
<Menu
    music="assets/sounds/music.flac">
    <Layout
	name="Home"
	soundButton="assets/sounds/select.ogg"
	background="assets/textures/background.jpg">
      <Button
	  x="100"
	  y="300"
	  fontSize="100"
	  font="assets/fonts/college.ttf"
	  onClick="Home"
	  text="Play">
      </Button>
      <Button
	  x="100"
	  y="400"
	  fontSize="100"
	  font="assets/fonts/college.ttf"
	  onClick="Option"
	  text="Option">
      </Button>
      <Button
	  x="100"
	  y="500"
	  fontSize="100"
	  font="assets/fonts/college.ttf"
	  onClick="finish"
	  text="exit">
      </Button>
    </Layout>
    <Layout
	name="Option"
	soundButton="assets/sounds/select.ogg"
	background="assets/textures/background.jpg">
      <EditText
	  x="100"
          y="300"
	  fontSize="50"
	  font="assets/fonts/college.ttf"
	  text="Pseudo">
      </EditText>
      <EditText
	  x="100"
          y="350"
	  fontSize="50"
	  font="assets/fonts/college.ttf"
	  text="Port">
      </EditText>

      <Save
	  x="100"
          y="800"
	  fontSize="50"
	  inFile="assets/config/conf.ini"
	  onClick="Home"
	  font="assets/fonts/college.ttf"
	  text="save">
      </Save>

      <Button
	  x="100"
	  y="860"
	  fontSize="50"
	  font="assets/fonts/college.ttf"
	  onClick="Home"
	  text="retour">
      </Button>
    </Layout>
</Menu>
