<?xml version="1.0" encoding="utf-8"?>
<Menu>
    <Layout
	name="Home"
	background="assets/textures/background.jpg">
      <Button
	  x="100"
	  y="300"
	  fontSize="100"
	  font="assets/fonts/college.ttf"
	  onClick="toto"
	  text="coriolan">
      </Button>
      <Button
	  x="100"
	  y="400"
	  fontSize="100"
	  font="assets/fonts/college.ttf"
	  onClick="finish"
	  text="exit">
      </Button>
    </Layout>
    <Layout
	name="toto"
	background="assets/textures/background2.jpg">
      <Button
	  x="100"
	  y="300"
	  fontSize="100"
	  font="assets/fonts/college.ttf"
	  onClick="titi"
	  text="Next">
      </Button>
      <Button
	  x="100"
	  y="400"
	  fontSize="100"
	  font="assets/fonts/college.ttf"
	  onClick="Home"
	  text="Back">
      </Button>
    </Layout>
    <Layout
	name="titi"
	background="assets/textures/background2.jpg">
      <Button
	  x="100"
	  y="300"
	  fontSize="100"
	  font="assets/fonts/college.ttf"
	  onClick="toto"
	  text="Back">
      </Button>
    </Layout>
</Menu>
